* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  min-height: 100vh;
  background-color: blanchedalmond;
}

body {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 2rem;
  text-align: center;
}

.game-container {
  border: 1px solid black;
  align-self: center;
  cursor: pointer;
  display: grid;
  grid-template-rows: 100px 100px 100px;
  grid-template-columns: 100px 100px 100px;
}

.square {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.square:hover {
  background-color: aqua;
}

.body-container {
  display: flex;
  justify-content: space-evenly;
}

.player-image img {
  width: 20rem;
}


.player2 img {
  transform: scaleX(-1);
}

.player-header {
  font-size: 2rem;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
}

.reset-button {
  font-size: 2rem;
  padding: 1rem;
  background-color: red;
  color: white;
}

.modal-container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  content: '';
}

.win-modal,
.draw-modal {
  display: none;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25rem;
  height: 20rem;
  background-color: white;
  padding: 20px;
  border: 1px solid black;
  z-index: 1000;
}

.close-modal {
  padding: .7rem;
  border-radius: 50%;
  float: right;
  background-color: red;
}

.modal-show {
  display: block;
}